@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="font-size:100px; font-family: Garamond; color: darkgreen;">Forest Films & Connections</h1>

    <p style="font-size:40px; font-family: Garamond; color: darkgreen;"><em>Do you know which actors are in each movie?</em></p>

</div>
<style>
    body{
        background-image: url('https://static.vecteezy.com/system/resources/previews/000/631/634/original/green-grid-mosaic-background-creative-design-templates-vector.jpg');
        margin-left: 0px;
    }
    h1{
        padding-top: 50px; 
    }
    p{
        padding-top: 30px; 
    }
    img{
       height: 375px; 
       width: 3000px;
    }
</style>
<body>
    <marquee scrollamount="20"><img src="https://th.bing.com/th/id/R.53c61a03537d7b2d67466634e94dd1f6?rik=uW3z7QvS%2bgpn6w&riu=http%3a%2f%2fclipart-library.com%2fimages_k%2ftransparent-film-reel%2ftransparent-film-reel-2.png&ehk=5A7Qch0UH6WYrz5costznb0gzYPvSaAkjcj5myntkXk%3d&risl=&pid=ImgRaw&r=0" alt="Movie Reel"></marquee>
</body>
